/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



































/* Общие */

html,
body {
    overflow-x: hidden;
}

.nav-mobile {
    display: none;
}

.big-button {
    width: 188px;
    height: 60px;
    background: #FEA3AC;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 700;
    padding: 18px 69px;
}

.title {
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 63px;
    text-align: center;
}

.slogan {
    font-size: 30px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    display: block;
}

.header__nav-item--active {
    color: #FEA3AC;
}

.page-header__title {
    color: white;
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 63px;
}

.page-header__subtitle {
    color: white;
    font-size: 30px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    word-wrap: break-word;
    line-height: 50px;
}

a {
    color: inherit;
}

#active {
    color: #FEA3AC;
}

body {
    color: #9A9A9A;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.wrapper {
    max-width: 1180px;
    width: 94%;
    margin: 0 auto;
}

/* Style for header */


.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.navigation__list {
    display: flex;
    color: #433840;
    font-size: 18px;
    font-family: Quicksand;
    font-weight: 400;
    word-wrap: break-word;
}

.navigation__item {
    margin: 0 15px;
}

.navigation__link {
    text-decoration: none;
    transition: color 0.2s ease;
}

.navigation__link:hover {
    color: #FEA3AC;
    transition: color 0.2s ease;
}

/* Footer */

.footer-top {
    background: url(img/footer.jpg) center center no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
}

.footer-top__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-list__item {
    width: calc(33.3% - 13.3px);
}

.footer-item__title {
    color: white;
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer-item {
    color: white;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 35px;
}

.footer-list__schedule--green {
    color: #DFEEB6;
}

.footer-item--strong {
    font-weight: 700;
}

.footer-social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-social__item {
    margin-bottom: 26px;
    width: calc(33.3% - 17.3px);
}

.footer-item {
    width: calc(33.3% - 17.3px);
}

.footer-social__image {
    width: 100%;
    height: auto;
}

.footer-bot {
    background-color: #433840;
}

.footer-bot__rights {
    color: white;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 35px;
}

.footer-bot__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}


.footer-bot__social-item {
    display: inline;
    margin-right: 7px;
    
}

/* Style for  heading page*/

.svg_style {
    position: relative;
}

.page-header {
    min-height: 400px;
    position: relative;
    background-size: cover;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.page-header.about_page {
    background: transparent url(img/about.jpg) center center no-repeat;
}


.svg_style::before {
    content: "";
    width: 100%;
    height: 130px;
    background: url(img/top.svg) center center no-repeat;
    position: absolute;
    top:-1px;
    left:0;
    z-index: 1;
}

.svg_style::after {
    content: "";
    width: 100%;
    height: 110px;
    background: url(img/bottom.svg) center center no-repeat;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 1;
}



/* About box */

.mango {
    max-width: 391px;
    max-height: 421px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.about_box {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.about_box .item_data:first-child {
    padding-left: 25px;
    padding-right: 45px;
}

.about_box .item_data:last-child {
    padding-right: 25px;
    padding-left: 45px;
}

.about_box .item_data article {
    margin-bottom: 80px; 
}

.about_box .item_data article h3{
    color: #433840;
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 12px;
}

.about_box .item_data article p{
    color: #9A9A9A;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 24px;
}

.about_box .item_data article:last-child {
    margin-bottom: 0;
}

/* Infographic styles */
.infographic {
    background: #FEA3AC;
    margin: 0 50px;
    min-height: 600px;
    margin-bottom: 60px;
}

.infographic .info_list {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infographic .info_list .item_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infographic .info_list .item_info .icon {
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infographic .info_list .item_info .count {
    color: #DFEEB6;
    font-size: 60px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 60px;
    display: block;
}

.infographic .info_list .item_info h4 {
    color: white;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 25px;
}

/* Style for team Box */

.team h2.box_title {
    color: #433840;
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

.team span.sub_title {
    color: #F7A1A8;
    font-size: 30px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 40px;
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

.team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}

.team_list .team_member {
    width: calc(50% - 201.5px);
    background: #C9E3F4;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: 190px;
    display: flex;
    align-items: center;
}

.team_list .team_member .image img {
    border-radius: 100%;
    margin-left: -190px;
    margin-top: 25px;
    margin-bottom: 25px;
}

 
.team_list .team_member .data {
    margin-left: 17px;
}

.team_list .team_member .data .name {
    display: block;
    color: white;
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 38px;
}

.team_list .team_member .data .position {
    display: block;
    color: #433840;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 14px;
}

.team_list .team_member .data p {
    color: #433840;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 11px;
    margin-right: 20px;
}

.team_list .team_member .data .social {
    letter-spacing: 10px;
}

.team_list .team_member:nth-child(2),
.team_list .team_member:nth-child(3) {
    background-color: #DFEEB6;
}

.team_list .team_member:nth-child(3),
.team_list .team_member:nth-child(4) {
    margin-left: 0;
    margin-right: 190px;
    margin-bottom: 0;
}

.team_list .team_member:nth-child(3) .image,
.team_list .team_member:nth-child(4) .image {
    order: 2;
}

.team_list .team_member:nth-child(3) .image img,
.team_list .team_member:nth-child(4) .image img{
    margin-left: 0;
    margin-right: -190px;
}

.team_list .team_member:nth-child(3) .data,
.team_list .team_member:nth-child(4) .data {
    order: 1;
    margin-left: 0;
    margin-right: 17px;
    text-align: right;
}

.team_list .team_member:nth-child(3) .data p,
.team_list .team_member:nth-child(4) .data p{
    margin-right: 0;
    margin-left: 20px;
}

/* Blog styles */

.blog_page {
    background: transparent url(img/blog_head.jpg) center center no-repeat;
}

.blog_archive {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 74px;
    margin-bottom: 12px;
}

.blog_archive article.post {
    width: calc(33.3% - 13.3px);
    margin-bottom: 51px;
}

.blog_archive article.post .thumbnail{
    position: relative;
    margin-bottom: 20px;
}

.blog_archive article.post .thumbnail img{
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.blog_archive article.post .thumbnail span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #DFEEB6;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 500;
    padding: 0 17px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.blog_archive article.post h3 {
    color: white;
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 500;
    background-color: #FEA3AC;
    display: inline-block;
    padding: 5px 13px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.blog_archive article.post:nth-child(even) h3{
    background-color: #B1CFE1;
}

.blog_archive article.post h3:hover {
    background-color: #DFEEB6;
    transition: all 0.3s ease;
}

.blog_archive article.post h3 a {
    text-decoration: none;
}

.blog_archive article.post p {
    color: #C4C4C4;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 13px;
}

.blog_archive article.post .info_line {
    color: #433840;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 25px;
}

.blog_archive article.post .info_line a {
    color: #fea3ac;
}

.load_more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 81px;
}

.load_more a {
    display: block;
    border: 3px #DFEEB6 solid;
    border-radius: 5px;
    color: #DFEEB6;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 500;
    background: rgba(196, 196, 196, 0);
    padding: 18px 82px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.load_more a:hover {
    background-color: #DFEEB6;
    color: #fff;
    transition: all 0.3s ease;
}

/* Menu block styles */

.menu_page {
    background: transparent url(img/our_menu.jpg) center center no-repeat;
}

.menu-info {
    background: transparent url(img/menu_bg.png) left bottom no-repeat;
}

.menu-info .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-info .wrapper .menu-info__col-left,
.menu-info .wrapper .menu-info__col-right {
    width: calc(50% - 10px);
    text-align: center;
}

.menu-info__col-left {
    margin-bottom: 144px;
}

.menu-info__col-right {
    margin-top: 144px;
}

.menu-info__thumbnail-left {
    margin-bottom: 40px;
}

.menu-info__thumbnail-right {
    margin-top: 40px;
}

.menu-info__title {
    color: #433840;
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 700;
    margin-bottom: 22px;
}

.menu-info__text {
    color: #9A9A9A;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 25px;
    max-width: 490px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.view-button {
    display: inline-block;
    color: white;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 500;
    letter-spacing: 3px;
    background: #DFEEB6;
    border-radius: 5px;
    padding: 20px 30px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.view-button:hover {
    background-color: white;
    color: #DFEEB6;
    outline: 3px #DFEEB6 solid;
    font-weight: 700;
    transition: all 0.1s ease;
}

.menu-info__image {
    max-width: 100%;
    height: auto;
}

.our-menu {
    background: #B1CFE1 url(img/menu-list-bg.png) center center no-repeat;
    background-size: contain;
    padding-top: 170px;
    padding-bottom: 160px;
    margin: 30px 50px 50px 50px;
}

.our-menu__title {
    color: white;
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700;
    text-align: center;
    line-height: 63px;
}

.our-menu__subtitle {
    color: #DFEEB6;
    font-size: 30px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 67px;
}

.our-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.our-menu__item {
    width: calc(50% - 44px);
    display: flex;
    margin-bottom: 42px;
}

.our-menu__item-image {
    border-radius: 100%;
    margin-right: 33px;
}

.our-menu__item-title {
    color: white;
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 4px;
}

.our-menu__item-text {
    color: white;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 20px;
}

.our-menu__item-price {
    color: #DFEEB6;
    font-size: 56px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 56px;
}

.item__description {
    margin-right: 32px;
}

.pricing-table__title {
    color: #433840;
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700; 
    line-height: 63px;
    text-align: center;
}

.pricing-table__slogan {
    color: #F7A1A8;
    font-size: 30px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 60px;
}

.pricing-table {
    margin-bottom: 108px;
}

.pricing-table__list {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.pricing-table__item {
    width: calc(33.333% - 13.3px);
    text-align: center;
    background-color: #DFEEB6;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px 35px 110px 27px;
    position: relative;
}

.pricing-table__item:nth-child(even) {
    background-color: #c9e3f4;
}

.pricing-table__item:after {
        content: "";
        width: 100%;
        height: 110px;
        background: url(img/bottom.svg) center center no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
}

.pricing-table__item-name {
    color: white;
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 63px;
    margin-bottom: 14px;
}

.pricing-table__item-coast {
    color: #FEA3AC;
    font-size: 80px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 80px;
    margin-bottom: 14px;
}

.pricing-table__item-description {
    color: #9A9A9A;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 47px;
}

.pricing-table__item-button {
    border: 3px solid white;
    transition: all 0.5s ease;
}

.pricing-table__item-button:hover {
    border: 3px solid #FEA3AC;
    color: #FEA3AC;
    outline: none;
    transition: all 0.2s ease;
}

.pricing-table__item:nth-child(even) .pricing-table__item-button{
    background-color: #C9E3F4;
}

.pricing-table__item:nth-child(even) .pricing-table__item-button:hover {
    background-color: #fff;
}

/* Shop */

.shop-page {
    background: url(img/shop.jpg);
}
.shop {
    margin-top: 70px;
    margin-bottom: 175px;
}

.shop__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop__item {
    width: calc(25% - 15px);
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

.shop-product__image {
    margin-bottom: 27px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 1s ease;
}

.shop-product__add-button {
    background: #C9E3F4;
    border-radius: 5px;
    padding: 20px 25px;
    color: white;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: none;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
}

.shop-product__add:hover .shop-product__add-button {
    opacity: 100%;
    transition: all 0.15s ease;
}

.shop-product__add:hover .shop-product__image {
    transform: scale(1.025);
    box-shadow: 0 5px 20px rgba(102, 102, 102, 0.3);
    transition: 0.15s;
}

.shop-product__add-button:hover {
    outline: 3px white solid;
    transition: all 0.15s ease;
    font-weight: 700;
}

.shop-product__add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-product__title {
    color: #433840;
    font-size: 18px;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 23px;
    transition: all 0.3s ease;
}

.shop-product__title:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

.shop-product__coast {
    color: #FEA3AC;
    font-size: 30px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 50px;
}

.shop-product__title-link {
    text-decoration: none;
}


/* Home page */

.home-slider {
    max-width: 1820px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.home-slider .slick-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: 2;
    width: 22px;
    height: 69px;
    background: url(img/slider-left.svg) center center no-repeat;
    border: 0;
    margin-top: -35px;
}


.home-slider .slick-next {
    position: absolute;
    top: 50%;
    right: 30px;
    z-index: 2;
    width: 22px;
    height: 69px;
    background: url(img/slider-right.svg) center center no-repeat;
    border: 0;
    margin-top: -35px;
}


.home-slider-item__image {
    max-width: 100%;
    height: auto;
}

.home-slider-item {
    position: relative;
}

.home-slider-item__text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-slider-item__title-one {
    color: #F7A1A8;
    font-size: 170px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 281px;
    position: absolute;
    top: 18%;
    right: 18%;
}

.home-slider-item__title-two {
    color: white;
    font-size: 260px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 430px;
    position: absolute;
    top: 46%;
    right: 57%;
}

.home-slider-item__title-three {
    color: #433840;
    font-size: 60px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 100px;
    position: absolute;
    top: 76%;
    right: 55.8%;
}

.home-about {
    background: url(img/home-about.png) center center no-repeat;
    background-size: cover;
    padding: 0.1px;
    margin-bottom: 157px;
}

.home-shop__title {
    color: #433840;
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 63px;
    text-align: center;
}

.home-shop__subtitle {
    color: #F7A1A8;
    font-size: 30px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 50px;
    display: block;
    text-align: center;
}

.home-subscribe {
    background: #DFEEB6;
    max-width: 1820px;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}

.home-subscribe__title {
    color: white;
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 63px;        
}

.home-subscribe__slogan {
    color: #F7A1A8;
    font-size: 30px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 50px;
    display: block;
    margin-bottom: 20px;
}

.home-subscribe__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe-list__item-left,
.subscribe-list__item-right {
    width: calc(50% - 35px);
}

.home-subscribe__input {
    width: 300px;
    height: 60px;
    background: white;
    border-radius: 5px;
    border: 3px #FEE9EF solid;
    color: #9A9A9A;
    font-size: 18px;
    font-family: Quicksand;
    font-weight: 300;
    line-height: 23px;
    margin-right: 23px;
    padding-left: 20px;
}

.home-subscribe__input:focus {
    border-color: #B1CFE1;
}

.home-subscribe__button {
    width: 188px;
    height: 60px;
    background: #FEA3AC;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 600;
    transition: all 0.5s ease;
    outline: none;
}

.home-subscribe__button:hover {
    /* outline: 3px white solid; */
    box-shadow: 0 0 0 3px #fff;
    transition: all 0.15s ease;
    font-weight: 700;
}

.home-subscribe__image {
    transform: translateY(-120px);  
    z-index: 2;  
    position: relative;
}

.home-blog {
    background: url(img/home-blog-bg.jpg) bottom right no-repeat;
    padding-bottom: 31px;
}

.home-blog__title {
    color: #433840;
}

.home-blog__slogan {
    color: #F7A1A8;
}

.home-blog__blog-archive {
    margin-top: 37px;
}

.home-testimonials {
    margin-bottom: 104px;
}

.home-testimonials__title {
    color: #433840;
}

.home-testimonials__slogan {
    color: #F7A1A8;
    margin-bottom: 50px;
}

.home-testimonials__slider {
    text-align: center;
}

.home-testimonials__item {
}

.home-testimonials__author {
    color: #433840;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 14px;
}

.home-testimonials__description {
    color: #9A9A9A;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 10px;
    max-width: 780px;
    margin: 0 auto;
    width: 94%;
}

.home-testimonials__link {
    color: #B1CFE1;
    font-size: 20px;
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    line-height: 33px;
    text-decoration: none;
}

.home-testimonials .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background: #DFEEB6;
    border-radius: 100%;
    border: 0;
    padding: 0;
    margin: 0 2.5px;
}

.home-testimonials .slick-dots .slick-active button {
    background: #FEA3AC;
}

.home-testimonials .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.page-header.contact-page {
    background: url(img/contact-header-bg.jpg);
}

.contact-map {
    margin-top: 40px;
    margin-bottom: 95px;
}

.contact-communicate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 93px;
}

.contact-communicate-left {
    margin-right: 20px;
}

.contact-communicate__item {
    max-width: calc(50% - 30px);
}

.contact-communicate__item-title {
    color: #433840;
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
}

.contact-communicate__item-text {
    color: #9A9A9A;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 25px;
}

.contact-communicate-right__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.contact-communicate-right__form-item {
    width: 550px;
    height: 60px;
    background: white;
    border-radius: 5px;
    outline: 3px #FEE9EF solid;
    border: 0;
    margin-bottom: 25px;
    padding-left: 20px;
    color: #9A9A9A;
    font-size: 18px;
    font-family: Quicksand;
    font-weight: 300;
}

.contact-communicate-right__form-textarea {
    height: 108px; 
    padding-top: 18px;
}

.contact-communicate-right__form-button {
    transition: all 0.3s ease;;
}

.contact-communicate-right__form-button:hover {
    background-color: #fff;
    color: #FEA3AC;
    outline: 3px #FEA3AC solid;
    scale: 1.05;
    transition: all 0.3s ease;
}

.nav-mobile {
    margin-bottom: 30px;
}

.contact-map {
    text-align: center;
}

.yaMaps__map {
    width: 94%;
}




/* Mobile version */

@media only screen and (max-width: 1270px) {
    .shop__item {
        width: calc(33.333%);;
    }
    .home-slider-item__title-one {
        font-size: 90px;
        line-height: 90px;
        top: 26%;
        right:20%;
    }
    .home-slider-item__title-two {
        font-size: 120px;
        line-height: 120px;
        top: 56%;
        right:62%;
    }
    .home-slider-item__title-three {
        font-size: 40px;
        line-height: 40px;
        top: 73%;
        right: 62.8%;
    }

    .home-subscribe__input {
        margin-bottom: 20px;
    }
    .our-menu__item {
        width: 100%;
    }

    .our-menu__item {
        justify-content: space-evenly;
    }
    .contact-communicate {
        flex-direction: column;
    }
    .contact-communicate-left {
        margin-bottom: 50px;
        text-align: center;
        margin-right: 0;
    }
    .contact-communicate-right__form {
        display: block;
        text-align: center;
    }
    .contact-communicate__item {
    max-width: 90%;
}
}

@media only screen and (max-width: 1150px) {
    .subscribe-list__item-left {
        display: none;
    }
    .home-subscribe__list {
        justify-content: center;
        height: 500px;
    }

    .home-subscribe__input {
        margin-bottom: 20px;
    }

    .subscribe-list__item-right {
        text-align: center;
    }

    .home-subscribe__input {
        margin: 0;
        margin-bottom: 20px;
        max-width: 100%;
        box-sizing: border-box;
        margin-right: 10px;
    }

    .home-subscribe__input-block {
        max-width: 100%;
    }

    .subscribe-list__item-left,
    .subscribe-list__item-right {
        width: unset;   
    }

    .team_list .team_member {
        width: 100%;
    }
    .footer-bot__social-item {
        margin: 0;
    }
    

}


@media only screen and (max-width: 900px) {
    .shop__item {
        width: calc(50%);
    }
    .our-menu {
        margin-right: 0;
        margin-left: 0;
    }
    .pricing-table__item-name {
        font-size: 40px;
    }

}

@media only screen and (max-width: 800px) {
    .body {
        background-color: red;
    }
    .footer-top__wrapper,
    .footer-list {
            flex-wrap: wrap;
        }
    .footer-item {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-top {
        padding: 0;
    }
    .footer-social__list {
        padding: 0 200px;
    } 
    .page-header { 
        margin: 0;
    }

    .footer-list__schedule {
        margin-top: 60px;
    }
    
    .header__nav {
        display: none;
    }

    .nav-mobile {
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 28px;
    }

    .nav-mobile a {
        color: #FEA3AC;
        text-decoration: none;
    }

    .header__wrapper {
        flex-direction: column;
        height: unset;
    }

    .logo {
        margin-bottom: 20px;
    }

    .navigation__item {
        margin: unset;
    }

    .nav-mobile__list {
        display: none;
    }

    .nav-mobile-open {
        cursor: pointer;
    }

    .svg_style::before {
        height: 70px;
        background-position: bottom center;
    }

    .svg_style::after {
        height: 70px;
        background-position: top center;
    }

    .home-slider-item__title-one {
        font-size: 60px;
        line-height: 60px;
        top: 21%;
        right: 14%;
    }

    .home-slider-item__title-two {
        font-size: 84px;
        line-height: 84px;
        top: 50%;
        right: 60%;
    }

    .home-slider-item__title-three {
        font-size: 26px;
        line-height: 30px;
        top: 72%;
        right: 59.8%;
    }

    .mango {
        display: none;
    }

        .about_box {
            align-items: flex-start;
            justify-content: space-around ;
        }

    .home-about {
        margin-bottom: 0;
    }

    .home-blog {
        background: none;
    }
    .pricing-table__item-name {
        font-size: 35px;
    }
    .rheader__nav {
        display: none;
    }

}

@media only screen and (max-width: 660px) {
    .item__description p{
        display: none;
    }
    
    .our-menu__item {
        justify-content: space-evenly;
    }

    .footer-social__list {
        padding: 0 134px;
    }

    .infographic {
        margin-right: 0;
        margin-left: 0;
    }

    .info_list {
        flex-wrap: wrap;
        padding: 70px 0;
    }

    .item_info {
        width: 100%;
        margin-bottom: 40px;
    }
    .pricing-table__list {
        display: initial;
    }
    .pricing-table__item {
        width: initial;
    }
    .our-menu {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .contact-communicate-right__form-item {
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    .home-slider-item__title-one {
        display: none;
    }

    .home-slider-item__title-two {
        display: none;
    }

    .home-slider-item__title-three {
        display: none;
    }

    .about_box {
        flex-wrap: wrap;
    }

    .about_box .item_data:last-child,
    .about_box .item_data:first-child {
        padding: 0;
    }

    .about_box .item_data:first-child {
        margin-bottom: 80px;
    }

    .item_data {
        text-align: center;
    }

    .shop-product__image {
        max-width: calc(100% - 20px);
        height: auto;
    }

    .subscribe-list__item-left {
        display: none;
    }

    .home-subscribe__list {
        justify-content: center;
        height: 500px;
    }

    .home-subscribe__input {
        margin-bottom: 20px;
    }

    .blog_archive article.post {
        width: 100%;
    }

    .post {
        text-align: center;
    }

    .blog_archive article.post .thumbnail {
        display: inline-block;
    }

    .data {
        max-height: 380px;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

}

@media only screen and (max-width: 510px) {
    .footer-social__list {
        padding: 0 40px;
    }

    .team_list .team_member .image img {
        width: 100%;
        height: auto;
        min-width: 200px;
    }
    .yaMaps__map {
        height: 300px;
    }
    .contact-map {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 444px) {

    .our-menu__item {
        display: unset;
        text-align: center;
    }

    .our-menu__item-image,
    .item__description {
        margin: 0;
    }
}









































